@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;;
}
h1{
    font-weight: bold;
    font-style: italic;
    color: black;
    font-family: "Bebas Neue";
    text-align: center;
    font-size: 2.5rem;
}
.navegador{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navegador ul{
    list-style-type: none;
    text-align: center;
}
.navegador li{
    display: inline;
    text-align: center;
    padding: 0.5em;
}
.navegador li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.navegador li a:hover{
    color:rgb(135, 116, 11);
    font-weight: bold;
}
